---
import Panel from "../../components/Panel.astro";
import Layout from "../../layouts/Layout.astro";
import { colors, schema } from "../../scripts/colors";
---

<style>
  .role-list {
    display: grid;
    gap: 1.5rem;
  }

  .role-name {
    margin: 0 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
  }

  .tone-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 3rem);
    gap: 0.25rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .tone {
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .tone-preview {
    grid-area: 1 / 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--color);
    box-shadow: inset 0 0 0 1px rgb(from var(--color-neutral-900) r g b / 0.1);
  }

  .tone-name {
    grid-area: 1 / 1;
    font-size: 0.75rem;
    font-weight: 500;

    &[data-color-type="light"] {
      color: var(--color-neutral-900);
    }

    &[data-color-type="dark"] {
      color: var(--color-neutral-10);
    }
  }
</style>

<Layout title="Colors">
  <Panel>
    <div class="role-list">
      {
        schema.roles.map((role) => (
          <section class="role">
            <h2 class="role-name">{role.name}</h2>
            <ul class="tone-list">
              {schema.tones.map((tone) => (
                <li class="tone">
                  <span
                    class="tone-preview"
                    style={{ "--color": colors[role.name][tone.name] }}
                  />
                  <span
                    class="tone-name"
                    data-color-type={tone.lightness > 0.5 ? "light" : "dark"}
                  >
                    {tone.name}
                  </span>
                </li>
              ))}
            </ul>
          </section>
        ))
      }
    </div>
  </Panel>
</Layout>
