@use "../../styles/index.scss" as *;

.link {
  display: block;
  width: fit-content;
  max-width: 100%;
  border-radius: $border-radius;
  text-decoration: none;
  color: $color-primary-text;
  user-select: none;

  @media (hover: hover) {
    &:hover {
      color: $color-text-on-primary;
      background-color: $color-primary;
    }
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: $border-radius;
  background-color: $color-surface;
}

.content {
  flex: 1;
  overflow: hidden;
  padding: 0 0.5rem;
  font-size: 0.9375rem;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}
