$primary--10: #fffbfb;
$primary--50: #ffebeb;
$primary--100: #ffd8d6;
$primary--200: #ffaead;
$primary--300: #ff7e81;
$primary--400: #f24e5b;
$primary--500: #d32d43;
$primary--600: #b2002c;
$primary--700: #88001f;
$primary--800: #600013;
$primary--900: #3c0008;
$secondary--10: #f6fff9;
$secondary--50: #ccffe2;
$secondary--100: #87ffc3;
$secondary--200: #00ea9b;
$secondary--300: #00ca86;
$secondary--400: #00ab70;
$secondary--500: #008d5c;
$secondary--600: #007148;
$secondary--700: #005536;
$secondary--800: #003b24;
$secondary--900: #002213;
$neutral--10: #fffbfb;
$neutral--50: #feeceb;
$neutral--100: #f0dedd;
$neutral--200: #d3c2c1;
$neutral--300: #b8a7a6;
$neutral--400: #9d8c8c;
$neutral--500: #837372;
$neutral--600: #695a5a;
$neutral--700: #514342;
$neutral--800: #3a2d2c;
$neutral--900: #241818;
$neutral-variant--10: #fffbfb;
$neutral-variant--50: #ffebeb;
$neutral-variant--100: #fcd9d8;
$neutral-variant--200: #e0bdbc;
$neutral-variant--300: #c3a2a1;
$neutral-variant--400: #a88787;
$neutral-variant--500: #8d6e6d;
$neutral-variant--600: #745655;
$neutral-variant--700: #5b3e3e;
$neutral-variant--800: #432828;
$neutral-variant--900: #2c1314;
