@use "sass:color";

$app-width: 60rem;
$app-padding: 1.25rem;
$app-header-height: 3rem;

$color-primary: #4c2429 /* lch(20, 20, 15) */;
$color-primary-text: #4c2429 /* lch(20, 20, 15) */;
$color-text-on-primary: #fbedee /* lch(95, 5, 15) */;

$color-text-base: #003649 /* lch(20, 20, 240) */;
$color-text-primary: color.change($color-text-base, $alpha: 0.96);
$color-text-secondary: color.change($color-text-base, $alpha: 0.72);
$color-text-tertiary: color.change($color-text-base, $alpha: 0.48);

$color-surface: color.change(#fff, $alpha: 0.48);
$color-background: #e7f2f9 /* lch(95, 5, 240) */;
$color-selection: color.change(#006a96 /* lch(40, 40, 240) */, $alpha: 0.24);

$color-drop-shadow-base: #003649 /* lch(20, 20, 240) */;
$color-drop-shadow-primary: //
  color.change($color-drop-shadow-base, $alpha: 0.08);
$color-drop-shadow-secondary: //
  color.change($color-drop-shadow-base, $alpha: 0.04);

$border: 2px;
$border-radius: 0.25rem;
$focus-ring: 2px;
$focus-ring-offset: 2px;

$duration: 100ms;
$easing-function: ease;
