@use "@neetly/ui";

.link {
  all: unset;
  display: block;
  user-select: none;
  cursor: pointer;
}

.item {
  padding: 1.5rem 2rem;
  border-radius: 1.75rem;
  background-color: ui.$color-primary-surface;
  transition: background-color 150ms;

  @media (max-width: 40rem) {
    margin: 0 -1rem;
    padding: 1.5rem 1rem;
    border-radius: 0;
  }

  @media (hover: hover) {
    .link:hover & {
      background-color: ui.$color-primary-surface-accent;
    }
  }

  .link:active & {
    background-color: ui.$color-primary-surface-accent;
  }

  .link:focus-visible & {
    outline: 2px solid ui.$color-primary;
    background-color: ui.$color-primary-surface-accent;
  }
}

.name {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  color: ui.$color-primary;
}

.description {
  margin: 0;
  font-size: 0.875rem;
  color: ui.$color-neutral-variant;
}
