@use "sass:color";

$font-ui: "Roboto Slab", sans-serif;

$size-border: 2px;
$size-border-radius: 2px;

$color-base: hsl(270, 48%, 96%);
$color-primary: hsl(270, 48%, 72%);

$color-text-base: $color-base;
$color-text-primary: color.change($color-text-base, $alpha: 0.96);
$color-text-secondary: color.change($color-text-base, $alpha: 0.72);
$color-text-tertiary: color.change($color-text-base, $alpha: 0.48);

$color-icon-base: $color-base;
$color-icon-primary: color.change($color-icon-base, $alpha: 0.72);
$color-icon-secondary: color.change($color-icon-base, $alpha: 0.48);
$color-icon-tertiary: color.change($color-icon-base, $alpha: 0.24);

$color-background: hsl(270, 24%, 8%);
$color-background-surface: hsl(270, 24%, 4%);

$color-border: color.change($color-base, $alpha: 0.08);
$color-focus: $color-primary;
$color-selection: color.change($color-base, $alpha: 0.16);
$color-tap-highligt: color.change($color-base, $alpha: 0.16);
