---
import Panel from "../components/Panel.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
  .not-found {
    margin: 4.5rem 0;
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-neutral-400);
  }
</style>

<Layout>
  <Panel>
    <div class="not-found">Not Found</div>
  </Panel>
</Layout>
