---
import Panel from "../components/Panel.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<style>
  .not-found {
    margin: 4.5rem 0;
    font-size: 4.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--color-text-dim);
  }
</style>

<PageLayout>
  <Panel>
    <div class="not-found">Not Found</div>
  </Panel>
</PageLayout>
