@use "../../theme";

.link {
  display: block;
  text-decoration: none;
  color: currentColor;
}

.item {
  display: flex;
}

.avatar {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  border-radius: theme.$size-border-radius;
  background-color: theme.$color-background-surface;
  box-shadow: 0 0 0 theme.$size-border theme.$color-border;
}

.avatarImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: theme.$size-border-radius;
}

.content {
  overflow: hidden;
  flex: 1;
  padding: 0 0.75rem;
}

.name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: theme.$color-text-secondary;

  @media (hover: hover) {
    .link:hover & {
      text-decoration: underline;
      color: theme.$color-text-primary;
    }
  }

  .link:active & {
    text-decoration: underline;
    color: theme.$color-text-primary;
  }
}

.id {
  overflow: hidden;
  font-size: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: theme.$color-text-tertiary;
}
