<style>
  .panel {
    display: flow-root;
    margin: 3rem -3rem;
    padding: 0 3rem;
    border-radius: 3rem;
    background-color: var(--color-surface);
  }
</style>

<div class="panel">
  <slot />
</div>
