---
const { title } = Astro.props;
---

<style>
  .section {
    margin: 3rem 0;
  }

  .title {
    margin: 1.5rem 0;
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
  }
</style>

<section class="section">
  {title && <h2 class="title">{title}</h2>}
  <slot />
</section>
