@use "@neetly/ui";

.link {
  all: unset;
  display: block;
  user-select: none;
  cursor: pointer;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 0.25rem;
  border-radius: 1.75rem;
  background-color: ui.$color-primary-overlay-01;
  transition: background-color 150ms;

  @media (max-width: 40rem) {
    margin: 0 -1rem;
    padding: 0.25rem 1rem;
    border-radius: 0;
  }

  @media (hover: hover) {
    .link:hover & {
      background-color: ui.$color-primary-overlay-02;
    }
  }

  .link:active & {
    background-color: ui.$color-primary-overlay-02;
  }

  .link:focus-visible & {
    outline: 2px solid ui.$color-primary;
    background-color: ui.$color-primary-overlay-02;
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.name {
  margin: 0 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.2;
  color: ui.$color-primary;
}
