@use "../../theme";

.link {
  display: block;
  text-decoration: none;
  color: currentColor;
}

.item {
  height: 3rem;
}

.name {
  overflow: hidden;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: theme.$color-text-secondary;

  @media (hover: hover) {
    .link:hover & {
      text-decoration: underline;
      color: theme.$color-text-primary;
    }
  }

  .link:active & {
    text-decoration: underline;
    color: theme.$color-text-primary;
  }
}

.value {
  overflow: hidden;
  font-size: 0.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: theme.$color-text-tertiary;
}
