@use "../../theme";

.link {
  display: block;
  text-decoration: none;
  color: currentColor;
}

.item {
  display: flex;
}

.icon {
  flex-shrink: 0;
}

.iconImage {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  fill: theme.$color-icon-secondary;

  @media (hover: hover) {
    .link:hover & {
      fill: theme.$color-icon-primary;
    }
  }

  .link:active & {
    fill: theme.$color-icon-primary;
  }
}

.content {
  overflow: hidden;
  flex: 1;
  padding: 0 0.5rem;
}

.name {
  overflow: hidden;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: theme.$color-text-secondary;

  @media (hover: hover) {
    .link:hover & {
      text-decoration: underline;
      color: theme.$color-text-primary;
    }
  }

  .link:active & {
    text-decoration: underline;
    color: theme.$color-text-primary;
  }
}
