.page {
  display: flex;
  flex-direction: column;
  flex: 1;

  &:focus {
    outline: none;
  }
}

.title {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
