@use "@neetly/palette";

.header {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.name {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  color: palette.$neutral--900;
}
