@use "../../theme";

.header {
  padding: 1.5rem 0;
}

.nav {
  display: flex;
}

.navItem {
  display: flex;

  & + &::before {
    content: "·";
    display: block;
    width: 1.5rem;
    text-align: center;
    color: theme.$color-text-tertiary;
  }
}

.navLink {
  display: block;
  font-weight: 500;
  text-decoration: none;
  color: theme.$color-text-secondary;

  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
      color: theme.$color-text-primary;
    }
  }

  &:active {
    text-decoration: underline;
    color: theme.$color-text-primary;
  }
}
