.app {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
