@use "sass:color";

.app {
  position: fixed;
  left: 50%;
  top: 50%;
  width: fit-content;
  height: fit-content;
  transform: translate(-50%, -50%);
}

.placeholder {
  margin: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: color.change(#000, $alpha: 0.48);
}
