@use "./theme";

html {
  overflow: hidden scroll;
  font-family: theme.$font-ui;
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: theme.$color-text-primary;
  background-color: theme.$color-background;
  background-image: url(./assets/background-pattern.svg);
  background-position: center;
  background-size: 12rem 12rem;
  background-attachment: fixed;
  -webkit-tap-highlight-color: theme.$color-tap-highligt;
}

body {
  margin: 0;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: theme.$size-border solid theme.$color-focus;
  outline-offset: theme.$size-border;
}

::selection {
  background-color: theme.$color-selection;
}
