@use "sass:color";

@use "./styles/palette.scss";

html {
  font-family: "Source Sans 3", "Source Han Sans", sans-serif;
  line-height: 1.5;
  overflow-wrap: break-word;
  color: palette.$neutral--900;
  background-color: palette.$neutral--10;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

::selection {
  background-color: color.change(palette.$primary--200, $alpha: 0.5);
}
