---
import { baseColors, colors } from "../scripts/colors";

const { title } = Astro.props;
---

<style is:global>
  @view-transition {
    navigation: auto;
  }

  @media (prefers-reduced-motion) {
    ::view-transition-group(root) {
      animation: none;
    }
  }

  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Lexend", "Source Han Sans", sans-serif;
    line-height: 1;
    overflow-wrap: break-word;
    color: var(--color-text);
    background-color: var(--color-background);
    -webkit-tap-highlight-color: rgb(from var(--color-primary) r g b / 0.2);
  }

  body {
    margin: 0;
  }

  :focus-visible {
    outline: 2px solid var(--color-primary);
  }

  ::selection {
    color: light-dark(
      var(--base-color-neutral-50),
      var(--base-color-neutral-100)
    );
    background-color: rgb(from var(--base-color-primary-600) r g b / 0.95);
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content={baseColors[colors.background.light]}
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content={baseColors[colors.background.dark]}
    />
    <title>{title ? `${title} - Hikari Hayashi` : `Hikari Hayashi`}</title>
    <link rel="canonical" href={Astro.url.pathname} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400..600&display=swap"
    />
    <link rel="stylesheet" href="/styles/variables.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
