---
const { title } = Astro.props;
---

<style is:global>
  @view-transition {
    navigation: auto;
  }

  @media (prefers-reduced-motion) {
    ::view-transition-group(root) {
      animation: none;
    }
  }

  html {
    font-family: "Lexend", "Source Han Sans", sans-serif;
    line-height: 1;
    overflow-wrap: break-word;
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-10);
    -webkit-tap-highlight-color: rgb(from var(--color-primary-600) r g b / 0.2);
  }

  body {
    margin: 0;
  }

  :focus-visible {
    outline: 2px solid var(--color-primary-600);
  }

  ::selection {
    color: var(--color-neutral-10);
    background-color: var(--color-primary-600);
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title ? `${title} - Hikari Hayashi` : `Hikari Hayashi`}</title>
    <link rel="canonical" href={Astro.url.pathname} />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
    />
    <link rel="stylesheet" href="/styles/variables.css" />
  </head>
  <body>
    <slot />
  </body>
</html>
