---
import BaseLayout from "./BaseLayout.astro";
import ChevronLeftIcon from "../components/icons/ChevronLeftIcon.astro";

const { title } = Astro.props;
---

<style>
  .container {
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 3rem;
  }

  .header {
    display: grid;
    gap: 0.5rem;
    margin: 3rem 0;
  }

  .home-link {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.25em;
    width: fit-content;
    margin: -0.25rem;
    padding: 0.25rem;
    text-decoration: none;
    color: var(--color-primary-600);
  }

  .title {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
  }
</style>

<BaseLayout title={title}>
  <div class="container">
    <header class="header">
      {
        Astro.url.pathname !== "/" && (
          <a class="home-link" href="/">
            <ChevronLeftIcon />
            Home
          </a>
        )
      }
      {title && <h1 class="title">{title}</h1>}
    </header>
    <slot />
  </div>
</BaseLayout>
