---
import ClickableAnchor from "../components/ClickableAnchor.astro";
import ChevronLeftIcon from "../components/icons/ChevronLeftIcon.astro";
import Layout from "./Layout.astro";

const {
  title,
  backLink = {
    label: "Home",
    href: "/",
  },
} = Astro.props;
---

<style>
  .page {
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 3rem;
  }

  .header {
    position: relative;
    margin: 4.5rem 0 3rem;
  }

  .back-link {
    position: absolute;
    left: 0;
    bottom: calc(100% + 0.75rem);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: fit-content;
    height: 1.5rem;
    margin: -0.5rem -1rem -0.5rem -0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 1.25rem;
    color: var(--color-primary);
  }

  .title {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }

  .footer {
    margin: 3rem 0;
  }

  .copyright {
    margin: 0.5rem 0;
    font-size: 0.875rem;
    text-align: center;
    color: var(--color-text-dim);
  }

  .copyright-link {
    margin: -0.25rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: currentColor;
  }
</style>

<Layout title={title}>
  <div class="page">
    <header class="header">
      {
        Astro.url.pathname !== "/" && (
          <ClickableAnchor class="back-link" href={backLink.href}>
            <ChevronLeftIcon class="back-icon" />
            <span class="back-label">{backLink.label}</span>
          </ClickableAnchor>
        )
      }
      <h1 class="title">{title ?? "Hikari Hayashi"}</h1>
    </header>
    <slot />
    <footer class="footer">
      <p class="copyright">Copyright © Hikari Hayashi</p>
      <p class="copyright">
        Social icons by
        <ClickableAnchor
          class="copyright-link"
          href="https://icons8.com/"
          target="_blank"
          rel="noreferrer"
        >
          Icons8
        </ClickableAnchor>
      </p>
    </footer>
  </div>
</Layout>
