@use "@neetly/palette";

.section {
  & + & {
    margin-top: 2rem;
  }
}

.sectionTitle {
  margin: 0 0 1rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
}

.term {
  white-space: nowrap;
}

.separator {
  margin: 0 0.5em;
  color: palette.$neutral-variant--400;
}
