@use "sass:color";

@use "@neetly/ui";
@use "@neetly/palette";

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 80rem;
  min-height: 12.5rem;
  margin: 2rem auto 1rem;
  padding: 0 1rem;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: -1rem;
    width: 12rem;
    height: 13.5rem;
    background-image: url(../../assets/avatar.png);
    background-position: center;
    background-size: 15rem 15rem;
    pointer-events: none;
  }
}

.copyright {
  width: fit-content;
  margin: -0.5rem -1rem;
  padding: 0.5rem 1rem;
  border-radius: 1.25rem;
  font-weight: 600;
  color: ui.$color-neutral-variant;
  background-color: color.change(palette.$neutral--10, $alpha: 0.8);
  backdrop-filter: blur(2px);

  @media (prefers-color-scheme: dark) {
    background-color: color.change(palette.$neutral--900, $alpha: 0.8);
  }
}
